@import "tailwindcss";
@plugin "tailwindcss-motion";

@font-face {
  font-family: "AzeretMono";
  src: url("../../public/fonts/AzeretMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AzeretMono-Italic";
  src: url("../../public/fonts/AzeretMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nippo";
  src: url("../../public/fonts/Nippo-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Telma";
  src: url("../../public/fonts/Telma-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sanchez: "Sanchez", "sans-serrif";
  --font-inter: "Inter", "sans-serrif";
  --font-azeret: "AzeretMono", "sans-serrif";
  --font-azeret-italic: "AzeretMono-Italic", "sans-serrif";
  --font-nippo: "Nippo", "sans-serrif";
  --font-telma: "Telma", "sans-serrif";
}

@theme {
  --color-v1risGray: #1c1c21;
  --color-v1risDarkPurple: #17144c;
  --color-grass: #ced453;
  --color-beige: #fafae3;
  --color-moss: #56541f;
  --color-bone: #d9d9c6;
  --color-eerie: #1e1b17;
  --color-marian: #3c4770;
  --color-cadet: #2a324f;
  --color-sepia: #7b4d1f;
  --color-reseda: #6a7f48;
  --color-rose: #fffffe;
  --color-darkBlue: #101033;
  --color-lightBlue: #a3f3ff;
  --color-contrast: #a998c5;
}

.baseLayout {
  @apply w-full flex flex-col font-inter items-center mx-auto relative min-h-screen bg-[url(/img/voice-of-reason-single-cover.png)] bg-local bg-cover bg-center text-center justify-center;
}

.text-shadow {
  text-shadow: 2px 2px 0.01px #1e1b17;
}

@keyframes fade-in-first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-second {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-first {
  animation: fade-in-first 0.5s ease-in-out forwards;
}

.animate-fade-in-second {
  animation: fade-in-second 1s ease-in-out forwards;
}

.animate-fade-in-third {
  animation: fade-in-second 1.25s ease-in-out forwards;
}
