---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import Link from "../components/Link.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} restrictWidth={false}>
  <main>
    <div
      class="py-12 px-8 flex flex-col gap-8 w-[300px] md:w-3xl lg:w-4xl rounded-xl bg-v1risDarkPurple/75 backdrop-blur-xs"
    >
      <h1
        class="text-6xl font-semibold text-indigo-100 text-shadow drop-shadow-xl shadow-white"
      >
        v1ris
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex flex-col gap-4">
          <h2 class="text-lg md:text-2xl">New Single Coming Soon</h2>

          <h2 class="text-5xl">Voice of Reason</h2>

          <img
            src="img/voice-of-reason-single-cover.png"
            alt="Voice of Reason"
            width="500px"
          />

          <a
            href="https://hypeddit.com/p5tryt"
            target="_blank"
            class="bg-indigo-300 p-4 rounded-xl text-xl text-black"
            >Click to pre-save!</a
          >
        </div>

        <div class="flex flex-col gap-8 w-full justify-center">
          <Link
            iconPath="bandcamp"
            text="BandCamp"
            link="https://v1ris.bandcamp.com/music"
          />

          <Link
            iconPath="spotify"
            text="Spotify"
            link="https://open.spotify.com/artist/3QAWVvdQIrW5GGXjhXT5tH"
          />

          <Link
            iconPath="applemusic"
            text="Apple Music"
            link="https://music.apple.com/tr/artist/v1ris/1650015922"
          />

          <Link iconPath="tidal" text="Tidal" link="" />

          <Link
            iconPath="soundcloud"
            text="Soundcloud"
            link="https://soundcloud.com/v1ris"
          />

          <Link text="Main Website" link="https://v1ris.com/" />
        </div>
      </div>
    </div>
  </main>
</Layout>
