---
import { Icon } from "astro-icon/components";
const { iconPath, text, link } = Astro.props;

const svgColor = "#000000";
---

<a
  class="px-4 py-4 rounded-xl bg-sepia grid grid-cols-[1fr_max-content_1fr] hover:scale-103 transition-all duration-150 hover:bg-amber-700"
  href={link}
  target="_blank"
  name="spotify"
>
  {
    iconPath && (
      <Icon name={iconPath} class="text-rose justify-self-start" size={32} />
    )
  }
  <p class="text-xl text-rose col-start-2">{text}</p>
</a>
