---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";

const { title, description, image = "/favicon.ico" } = Astro.props;
---

<!doctype html>
<html lang="en" style={{ colorScheme: "dark" }} class="bg-grass">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="baseLayout font-azeret">
    <slot />
  </body>
</html>
