---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";

const { title, description, image = "/favicon.ico" } = Astro.props;
---

<!doctype html>
<html lang="en" style={{ colorScheme: "dark" }} class="bg-indigo-300">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <div class="baseLayout">
      <slot />
    </div>
  </body>
</html>
